body {
   /*margin: 0;
   font-family: 'Lato', Verdana;
   font-size: 100%;*/
}

header{
  background-color: #9C2329;/*#346270;*/
  min-height: 100px;
}

header a, a:hover{
  color: #f0ad4e;
  text-decoration: none;
}

header .header-container{
  padding: 1%;
}

header h1 {
  letter-spacing: 15px;
  font-size: 300%;
}

header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  display: inline-block;
}

.content{
  min-height: calc(100vh - 230px);
}

.site-footer{
  background-color: gray;
  min-height: 130px;
}
